# Firebase
VITE_FIREBASE_API_KEY=AIzaSyAyLVtZScVH1Ws92Jb4jKBY7XQFsx9tMqQ
VITE_FIREBASE_AUTH_DOMAIN=paraphrase-tools.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=paraphrase-tools
VITE_FIREBASE_STORAGE_BUCKET=paraphrase-tools.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=322121278764
VITE_FIREBASE_APP_ID=1:322121278764:web:d01567b63bf8bedca87889

# Gemini API
VITE_GEMINI_API_KEY=AIzaSyBtQh-c6zhkCuKjuMVezkafSmL5K_vhWSc

# Payment Gateway
VITE_PAKKASIR_API_KEY=rAYEgfSMJ4WNw9TF1iHMAIIU43ztThnl

# API Base URL
VITE_API_BASE_URL=http://localhost:3000